/* Estilos para smartphones en modo vertical */
@media only screen and (max-width: 480px) {
    .pParrafo{
        font-size: 15px;
    }
    .sParrafo{
        font-size: 18px;
        line-height: 23px;
    }
    .tParrafo{
        font-size: 30px;
        line-height: 30px;
    }
    .cParrafo{
        font-size: 34px;
        line-height: 30px;
    }
    .qParrafo{
        font-size: 23px;
        line-height: 27px;
    }
    .apuestaConten{
        border: 3px solid #70C032;
        border-radius: 14px;
        padding: 1vw;
        width: 52vw;
        margin: 0vh 0 2vh  0;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .extraLightfont{
        font-weight: 100;
        font-size: 14px;
        text-align: center;
       }
       h2 {
        font-size: 51px;
        line-height: 89%;
    }
    .popup{
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para smartphones en modo horizontal */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Tus estilos aquÃ­ */
}

/* Estilos para smartphones en modo horizontal o vertical */
@media only screen and (min-width: 767px) {
    .extraLightfont {
        font-weight: 100;
        width: 81%;
        text-align: center;
    }
    button {
        background: #70C032;
        height: 4vh;
        width: 8vw;
        border: none;
        border-radius: 6px;
        font-size: 24px;
    }
    .apuestaConten {
    border: 3px solid #70C032;
    border-radius: 14px;
    padding: 1vw;
    width: 11vw;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 333px;
}
#cbTratamiento {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    font-size: 11px;
    margin: 6px;
}button {
    background: #70C032;
    width: 12vw;
    height: auto;
}
.apuestaConten {
    border: 3px solid #70C032;
    border-radius: 14px;
    padding: 11px;
    width: 16vw;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.container{
    background-image: url(imagenes/bgpc.jpg);
}
.spanSlogan{
    width: 100%;
}
.mayorEdad{
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

}
